header {
    width: 100%; 
    position: absolute;
    z-index: 99;
    display: flex;  
    align-items:center;
    justify-content:space-between;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    padding: 1em;  
} 

.nav-link {
    text-decoration: none;
    color: #fffdf7; 
    font-size: 1.5em;
    margin-right: 1.5em; 
}

img {
    width: 100%;
    z-index: -1; 
}

#logo {
    padding-left: 6em;
    color:#fffdf7;  
}