header {
    width: 100%; 
    position: absolute;
    z-index: 99;
    display: flex;  
    align-items:center;
    justify-content:space-between;
}

header ul {
    list-style: none;
    margin-right: 7em;
}

header li {
    display: inline; 
} 

.nav-link {
    text-decoration: none;
    color: #fffdf7; 
    font-size: 1.5em;
    margin-right: 2em; 
}

img {
    width: 100%;
    z-index: -1; 
}

#logoWrapper {
    width: 100%;
    max-width:200px; 
    height: auto;
    padding:1%;  
    margin-left: 11em; 
}

#logOutBtn {
    background-color: #606C38;
    color: #FFFDF7; 
    padding: 1em; 
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    margin-left: 1em; 
    border: none; 
    font-size: 1.25em;
}

#logOutBtn:hover {
    background-color: #47502a;
    cursor: pointer; 
} 

@media (max-width: 1490px) {
    #logoWrapper {
        width: 100%;
        max-width:150px; 
        height: auto;
        padding:1%;  
    }
}

@media (max-width: 1266px) {
    #logoWrapper {
        width: 100%;
        max-width:110px; 
        height: auto;
        padding:1%;  
    }
}

@media (max-width: 1044px) {
    #logoWrapper {
        width: 100%;
        max-width:90px; 
        height: auto;
        padding:1%;  
    }
}

@media (max-width: 955px) {
    #headerWave {
        display: none; 
    }

    .nav-link { 
        font-weight: bold;
    }

    #logoWrapper {
        width: 100%;
        max-width:120px; 
        height: auto;
        padding:1%;  
        align-self: center;
        margin: 0; 
    }

    header {
        background-color: #084887;
        position:relative;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    header ul {
        list-style: none;
    }
}