#searchBar form {
    width: 100%; 
}

#searchBar input[type=text] {
    padding: 1.5em; 
    border: solid 1px #606C38; 
    border-radius: 50px;
    width: 85%; 
}

#searchBar input[type=submit] {
    background-color: #606C38;
    color: #FFFDF7; 
    padding: 1em; 
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    margin-left: 1em; 
    border: none; 
    font-size: 1em; 
}

#searchBar input[type=submit]:hover {
    background-color: #47502a;
    cursor: pointer; 
}

h1 {
    text-align: center;
} 

#searchResultDiv {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bookItem {
    padding: 1em;
}

.bookItem button {
    background-color: #606C38;
    color: #FFFDF7; 
    padding: 1em; 
    font-family: "Open Sans", sans-serif;
    border-radius: 50px; 
    border: none; 
    font-size: 1em;
    max-width: 200px; 
    width: 100%; 
}

.bookItem button:hover {
    background-color: #47502a;
    cursor: pointer; 
} 

@media (max-width: 955px) {
    #searchBar input[type=text] {
        padding: 1.5em; 
        border: solid 1px #606C38; 
        border-radius: 50px;
        width: 83%; 
        margin-left: 10px; 
    }

    #searchBar input[type=submit] {
        width: 30%; 
        margin-top: 1em; 
        margin-left: 10px; 
    }

    #searchResultDiv {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

}
