#singleBook img {
    max-width: 350px; 
    height: auto; 
    width: 100%;
}

.inTextLink, .inTextLink:visited {
    color: #084887; 
    font-weight: bold;
    text-decoration: none;
}

.inTextLink:hover { 
    text-decoration: underline;
}