#singleBook img {
    max-width: 350px; 
    height: auto; 
    width: 100%;
}

.inTextLink, .inTextLink:visited {
    color: #084887; 
    font-weight: bold;
    text-decoration: none;
}

.inTextLink:hover { 
    text-decoration: underline;
}

#newRevBtn {
    background-color: #606C38;
    color: #FFFDF7; 
    padding: 1em; 
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    border: none; 
    font-size: 1em;
} 

#newRevBtn:hover {
    background-color: #47502a;
    cursor: pointer; 
}